
.main-list{
    text-align: center;
    padding: 15px 0px 50px;
    /* background:rgb(135, 206, 235,0.05); */
    margin-top:0;
    padding-top:120px;
}



.main-item{
    position: relative;
    padding: 32px 35px;
    box-sizing: border-box;
    width: 44%;
    height: 600px;
    vertical-align: top;
    margin: 20px 15px;
    background-color: #ffffff;
    display: inline-block;
    text-align: left;
    border-radius:12px;
    box-shadow: 0px 0px 50px rgb(128,128,128,0.2);
}

.btn-debate-all{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    width:90px;
    height:40px;
    background:rgb(128,128,128,0.4);
    top:0;
    right:0;
    margin-right:35px;
    margin-top:15px;
    border-radius: 8px;
    font-weight:bold;
}


@media screen  and (max-width:1280px){
  .main-item{
    width:90%;
  }
}

.banner-wrapper{
    overflow: hidden;
}
.banner{
    width:100%;
    height:450px;
    background:url('/public/background/banner_img.png');
    animation-duration: 3s;
    animation-name: turnOn;
    border-bottom:1px solid rgb(128,128,128,0.2);
    margin-top:60px;
    transition:all 0.5s;

}

.banner:hover{
    transform:scale(1.32);
}

@keyframes turnOn {
    from {
      opacity:0;
    }
  
    to {
      opacity:1;

      
    }
  }
.debate-wrapper{
    height:88%;
    overflow-y: scroll;
}

.debate-list{
    margin:0;
    margin-top:50px;
    padding:0;
}

.debate-item{
    width:100%;
    height:60px;
    margin-bottom:10px;
    border-bottom:1px solid gray;
}


.debate-title{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.debate-desc{
    font-weight: medium;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.new-dabate-text-box{
    width:100%;
    font-size:20px;
  }

  .img-new{
     position:absolute;
     top:0;
     left:0;
     transform: rotate(-90deg);
     width:60px;
     height:auto;
  }

  .img-best{
    width:40px;
    height:auto;
  }