.icon-like{
  width:60px;
  height:60px;

}




.board-detail-box{
    height:auto;
    padding-left:12%;
    padding-right:12%;
    padding-top:80px;
    /* margin-top: 60px; */
}
.board-detail-box-inner{
    padding:20px;
    background:white;
    border-radius: 4px;
}


.board-detail-section{
  position:relative;
   width:100%;
   height:auto;
   padding-top:20px;
   padding-bottom:20px;
   border-bottom: 1px solid rgb(128,128,128,0.3);  
}
.board-detail-section-delete-btn{
  position:absolute;
  width: fit-content;
  height: fit-content;
  top:0;
  right:0;

  padding:20px;
  color:red;
  font-weight: red;
}

.desc-section{
    width:100%;
    height:auto;
    display: inline-block;
word-break: break-word;
    min-height:200px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid rgb(128,128,128,0.3);  
 }


.profile-box{
    display:flex;
}

.detail-info{
  display:flex;
} 

.img-detail{
  margin-right:4px;
}


.detail-item{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-right:20px;
  color:gray;
  font-size:15px;
}



.comment-section{
    width:100%;
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
}

.comment-input-box{
  display:flex;
  margin-bottom: 30px;
}

.comment-input-submit{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:18px;
    background:rgb(135, 206, 235);
    color: black;
    width:154px;
    height:54px;
    margin-left:10px;
    /* border:1px solid gray; */
  border-radius: 4px;

}

.comment-input{
  width:100%;
  min-height:96px;
  font-size:16px;
  padding:16px;
  border:1px solid rgb(128,128,128,0.3);
  background:rgb(255,255,255,0.8);
  border-radius: 4px;
}



.comment-box{
  position:relative;
  width:calc(100% - 154px);
  padding:10px;
}

.comment-delete-btn {
  width:fit-content;
  height:fit-content;
  position:absolute;
  right:0;
  top:0;
  color:red;

}

.comment-profile-box{
  display:flex;
}

.comment-detail-info-box{
color:gray;
font-size:14px;
}
