.write-wrapper{
    padding-top:80px;
    padding-left:100px;
    padding-right:100px;
    height:auto;
    min-height:500px;
}





.ck-editor__editable {
    min-height: 500px;
}


.title-box{
    width: 100%;
    height:auto;
}


.input-title{
    width:100%;
    outline: gray;
    border:1px solid rgb(128,128,128,0.4);
    border-radius: 3px;
    padding:10px 0px 10px 10px;
    margin-bottom:10px;
    font-size:18px;
}


.submit-box{
    display:flex;
    justify-content: right;
    padding-top:10px;
}

.cancle-btn{
    width:100px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    background:gray;
    font-weight: bold;
    border-radius: 4px;
}

.submit-btn{
    width:100px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    background:rgba(2, 139, 2);
    font-weight: bold;
    margin-left:10px;
    border-radius: 4px;

}